{% extends 'base.html' %}


{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-5">
            <form action="" method="POST" enctype="multipart/form-data" class="card card-body shadow p-3">
                <h2 class="text-center">Agregar Acople</h2>
                <code><a href="{% url 'coupling' %}" style="color: inherit; cursor: pointer; text-decoration: none">volver...</a></code>
                <hr>
                {% csrf_token %}
                <div class="form-group mb-3">
                    <label for="pump">Bomba:</label>
                    <select class="form-control" id="pump" name="pump" required>
                    <option value="" selected disabled>Seleccione una bomba</option>
                    {% for pump in pumps_with_motor_and_coupling %}
                        <option value="{{ pump.pk }}">{{ pump.tag }}</option>
                    {% endfor %}
                    </select>
                </div>
                <label for="brand">Fabricante:</label>
                {{coupling_form.brand}}
                <label for="types">Tipo de acople:</label>
                {{coupling_form.types}}
                <label for="series">Serie:</label>
                {{coupling_form.series}}
                <br>
                <fieldset>
                    <legend>Mecanizados de ejes en Motor y Bomba</legend>
                    <label for="pump_shaft_measurement">Medidas eje lado bomba (mm):</label>
                    {{coupling_form.pump_shaft_measurement}}
                    <label for="engine_shaft_measurement">Medidas eje lado motor (mm):</label>
                    {{coupling_form.engine_shaft_measurement}}
                </fieldset>
                <br>
                <fieldset>
                    <legend>Medidas de Chavetas lado Bomba</legend>
                    <label for="high_pump_key_size">Alto de chaveta (bomba) (mm):</label>
                    {{ coupling_form.high_pump_key_size }}
                    <label for="width_pump_key_size">Ancho de chaveta (bomba) (mm):</label>
                    {{ coupling_form.width_pump_key_size }}
                    <label for="long_pump_key_size">Largo de chaveta (bomba) (mm):</label>
                    {{ coupling_form.long_pump_key_size }}
                    <legend>Medidas de Chavetas lado Motor</legend>
                    <label for="high_motor_key_size">Alto de chaveta (motor) (mm):</label>
                    {{ coupling_form.high_motor_key_size }}
                    <label for="width_motor_key_size">Ancho de chaveta (motor) (mm):</label>
                    {{ coupling_form.width_motor_key_size }}
                    <label for="long_motor_key_size">Largo de chaveta (motor) (mm):</label>
                    {{ coupling_form.long_motor_key_size }}
                </fieldset>
                <br>
                <label for="description">Descripción:</label>
                {{coupling_form.description}}
                <label for="image">Imagen de Acople:</label>
                {{coupling_form.image}}
                <button type="submit" class="btn btn-dark btn-lg">
                    Agregar
                </button>
            </form>
        </div>
    </div>
</main>
{% endblock %}