{% extends 'base.html' %}

{% block content %}

{% include 'nav.html' %}

{% load static %}
{% if messages %}
    <div id="message-container" class="mt-4 alert alert-success" role="alert">
        {% for message in messages %}
            {% autoescape off %}{{ message }}{% endautoescape %}
        {% endfor %}
    </div>
{% endif %}
<section class="mt-4 mb-4">
    <div class="row m-2">
    <div class="col-md-8">
        {% for coupling in coupling_list %}
        <div class="card m-2">
                <div class="row m-3">
                    <!-- Columna de la Imagen -->
                    <div class="col-xl-4">
                        <div class="card shadow">
                            <img src="{{ coupling.image.url }}" class="img-thumbnail image-coupling" alt="{{ coupling.image.url }}" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#imagenModal{{ coupling.id }}">
                        </div>
                    </div>
                    <!-- Columna de los campos del equipo -->
                    <div class="col-xl-4">
                        <div class="card">
                            <div class="card-body">
                                <code class="data_name"><a href="{% url 'coupling_detail' coupling.id %}" style="color: inherit; cursor: pointer; text-decoration: none"><strong class="objectTitle">Acople de Bomba {{ coupling.pump.tag }}</strong></a></code>
                                <hr>
                                <p class="card-text"><strong class="objectTitle">Datos del Acople</strong></p>
                                <hr>
                                <p class="card-text">Medida eje lado motor: <span class="badge bg-secondary data">{{ coupling.engine_shaft_measurement }} mm</span></p>
                                <hr>
                                <p class="card-text">Medida eje lado bomba: <span class="badge bg-secondary data">{{ coupling.pump_shaft_measurement }} mm</span></p>
                                <hr>
                                <p class="card-text">Medidas chaveta lado motor: <span class="badge bg-secondary data">{{ coupling.high_motor_key_size }} - {{ coupling.width_motor_key_size }} - {{ coupling.long_motor_key_size }} mm</span></p>
                                <hr>
                                <p class="card-text">Medidas chaveta lado bomba: <span class="badge bg-secondary data">{{ coupling.high_pump_key_size }} - {{ coupling.width_pump_key_size }} - {{ coupling.long_pump_key_size }} mm</span></p>
                            </div>
                        </div>
                    </div>
                    <!-- Columna datos -->
                    <div class="col-xl-3">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-text">Fabricante: <span class="badge bg-secondary data">{{ coupling.brand }}</span></p>
                                <hr>
                                <p class="card-text">Modelo de acople: <span class="badge bg-secondary data">{{ coupling.types }}</span></p>
                                <hr>
                                <p class="card-text">Serie: <span class="badge bg-secondary data">{{ coupling.series }}</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal para la imagen de acople -->
                <div class="modal fade" id="imagenModal{{ coupling.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <img src="{{ coupling.image.url }}" class="img-fluid" alt="{{ coupling.image.url }}">
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        {% endfor %}
    </div>
    <div class="col-md-4">
        <div class="card m-2">
            <div class="row m-3">
                <h2>Obsevaciones</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla cupiditate ea nisi ipsa neque ipsam possimus voluptatum. Laboriosam, in inventore, expedita accusamus quae atque optio earum iste voluptatum quas animi.</p>
            </div>
            <div class="row m-3">
                <h2>Tareas</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt repellendus saepe excepturi? Beatae tenetur ipsam, quo, maxime rerum minus tempora itaque repellendus, quisquam repellat non placeat quibusdam? Perspiciatis, mollitia exercitationem.</p>
            </div>
        </div>
    </div>
    </div>
</section>

{% endblock %}