{% extends 'base.html' %}

{% block content %}

{% load static %}

<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-5">
            <form action="" method="POST" enctype="multipart/form-data" class="card card-body shadow p-3">
                <h2 class="text-center">Agregar Motor de Bomba {{ pump.tag }}</h2>
                <code><a href="{% url 'pumps' %}" style="color: inherit; cursor: pointer; text-decoration: none">volver...</a></code>
                <hr>
                {% csrf_token %}
                {{motor_form.as_p}}
                <button type="submit" class="btn btn-dark btn-lg">
                    Agregar
                </button>
            </form>
        </div>
    </div>
</main>

{% endblock %}