{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="row reflexion justify-content-center align-items-center  " style="padding-top:20px;">
        <div class="col-8  " style="padding-top:40px; padding-bottom: 40px;">
            <div>
                <center>
                    <h1 style="color:red;">MUCHAS GRACIAS!<i class="fas fa-star"></i></h1>
                    <p>En breve <b>se van a contactar con vos </b> para coordinar!</p>
                </center>
            </div>
        </div>
     </div>
 </div>

{% endblock %}