body {
    background-color: $background;
}

.title {
    text-align: center;
}

.users, .exit {
    color: $text;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.image-pump {
    max-width: 500px;
    max-height: 500px;
}

.objectTitle {
    text-transform: uppercase;
    font-size: 18px;
}
