body {
    background-color: $background;
}

.title {
    text-align: center;
    text-transform: uppercase;
}

.users, .exit {
    color: $text;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.image-pump {
    max-width: 500px;
    max-height: 500px;
}

.objectTitle {
    text-transform: uppercase;
}

.data {
    font-size: 15px;
}

.data_name {
    font-size: 18px;
}
fieldset {
    border: 1px solid #ddd;
    padding: 10px;
}

legend {
    padding: 0 10px;
    font-weight: bold;
}
#id_description {
    margin: 0px 0px 20px 0px;
}

#id_image {
    margin: 0px 0px 20px 0px;
}

.accordion-header-custom {
    margin: 0; /* Ajusta el margen según necesites */
    padding: 0; /* Ajusta el padding según necesites, este es solo un ejemplo */
  }

.accordion-button-custom {
    padding: 5px; /* Ajusta el padding del botón si es necesario */
}

@media screen and (max-width: 1440px) {
    .objectTitle {
        text-transform: uppercase;
    }
}
