body {
    background-color: $background;
}

.title {
    text-align: center;
    text-transform: uppercase;
}

.users, .exit {
    color: $text;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.image-pump {
    max-width: 500px;
    max-height: 500px;
}

.objectTitle {
    text-transform: uppercase;
}

.data {
    font-size: 15px;
}

.data_name {
    font-size: 18px;
}

@media screen and (max-width: 1440px) {
    .objectTitle {
        text-transform: uppercase;
    }
}
