
{% block content %}

<section>
    <div class="container-fluid">
        <div class="p-2 m-3 bg-light rounded-2 border">
            <div class="container m-2">
                <h1 class="display-3 objectTitle">{{ title }}</h1>
                <p class="lead">Lista de {{ title }}.</p>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="btn btn-light" href="{% if title == 'Bombas' %}{% url 'add_pump' %}{% elif title == 'Motores' %}{% url 'pumps' %}{% else %}{% endif %}">+</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="ms-auto">
                <form class="d-flex" role="search" method="get">
                    <input class="form-control me-2" type="search" name="search" placeholder="Buscar" aria-label="Buscar" value="">
                    <button class="btn btn-light me-2" type="submit">Buscar</button>
                    <button class="btn btn-warning" id="clear-button">Limpiar</button>
                </form>
                </div>
            </div>
        </div>
    </nav>
</section>

{% endblock %}