{% extends 'base.html' %}

{% block content %}

{% include 'nav.html' %}

{% load static %}
{% if messages %}
    <div id="message-container" class="mt-4 alert alert-success" role="alert">
        {% for message in messages %}
            {% autoescape off %}{{ message }}{% endautoescape %}
        {% endfor %}
    </div>
{% endif %}
<section class="mt-4 mb-4">
    <div class="row m-2">
        <div class="col-md-8">
            <div class="row">
            {% for mechanicalseal in mechanicalseal_list %}
            <div class="col-md-6">
                <div class="card m-2">
                    <div class="row m-3">
                        <!-- Columna de la Imagen -->
                        <div class="col-12 col-md-12 col-lg-6">
                            <div class="card shadow">
                                <img src="{{ mechanicalseal.image.url }}" class="img-thumbnail image-mechanicalseal" alt="{{ mechanicalseal.image.url }}" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#imagenModal{{ mechanicalseal.id }}">
                            </div>
                        </div>
                        <!-- Columna campos -->
                        <div class="col-12 col-md-12 col-lg-6">
                            <div class="card">
                                <div class="card-body">
                                    <code class="data_name"><a href="{% url 'mechanicalseal_detail' mechanicalseal.id %}" style="color: inherit; cursor: pointer; text-decoration: none"><strong class="objectTitle">{{ mechanicalseal.types }}</strong></a></code>
                                    <hr>
                                    <p class="card-text"><strong class="objectTitle">Datos del Sello Mecánico</strong></p>
                                    <p class="card-text">Medida: <span class="badge bg-secondary data"> {{ mechanicalseal.extention }}</span></p>
                                    <hr>
                                    <p class="card-text">Equipo: <span class="badge bg-secondary data">Bomba {{ mechanicalseal.pump.tag }}</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal para la imagen del rodamiento -->
                    <div class="modal fade" id="imagenModal{{ mechanicalseal.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <img src="{{ mechanicalseal.image.url }}" class="img-fluid" alt="{{ mechanicalseal.image.url }}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            </div>
        </div>
        <div class="col-md-4">
            <div class="card m-2">
                <div class="row m-3">
                    <h2>Obsevaciones</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla cupiditate ea nisi ipsa neque ipsam possimus voluptatum. Laboriosam, in inventore, expedita accusamus quae atque optio earum iste voluptatum quas animi.</p>
                </div>
                <div class="row m-3">
                    <h2>Tareas</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt repellendus saepe excepturi? Beatae tenetur ipsam, quo, maxime rerum minus tempora itaque repellendus, quisquam repellat non placeat quibusdam? Perspiciatis, mollitia exercitationem.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}